@media (max-width: 575.98px) {
    .next-item, .prev-item {
        display: none;
    }
}

.submit-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.submit-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.pointer:hover {
    cursor: pointer;
}