@import './reset.scss';
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

$primary: #f44;

@import "~bootstrap/scss/bootstrap";
img {
    width: 100%;
}

.navbar {
    background-color: #f44;
    font-family: "Press start 2P";
}