@import './reset.scss';
@import './fonts.scss';

$primary: #f44;

@import "~bootstrap/scss/bootstrap";

body {
    font-family: 'Exo';
}

img {
    width: 100%;
}

.navbar {
    background-color: #f44;
    font-family: "Press start 2P";
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
